

.row{
	width: 100%;
	display: flex;

}


.list{
	text-align:center; 
	width: 75%;
}


.notes{
	height:300px; 
	width:25%;	
}

textarea{
	width:93%; 
	height:95% ;
}


ol{
	width: 25%;
	margin: 17px auto;
}

li{
padding: 5px;
}


.test{
    text-decoration: line-through;
}

h1, h2, button, p{
	font-family: 'Indie Flower', cursive, sans-serif; 
}

h1{
font-size: 50px;
letter-spacing: 4px;
}